* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('ufo.png?v=1') 0 0, auto;
    font-size: 20px;  
}

body {    
    background-image: url(./space_image.jpg);
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-scroll {
    overflow-y: scroll;
}

.header-horizontal {
    padding: 0;
    z-index: 12;
    width: 100%;
    height: 3.9rem;    
    position: sticky;
    display: flex;
    align-items: center;
    transition: var(--transition);
    background-color: rgb(31, 30, 30, .7);
    background-size: auto 3.9rem;
    background-repeat: repeat-x;
    background-position: top;    
}

.header-logo {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin-top: .25rem;
    margin-bottom: .45rem;
}

.header-menu {
    width: 100%;
      
}

ul {
    margin: 0;    
    padding: 2.5rem;
    overflow: hidden;
    background-color:  rgb(31, 30, 30, 0); 
    font-size: 100%;
    vertical-align: -webkit-baseline-middle;
    background: transparent;
    }  

  
li {
    float: left;
    margin-left: 2.5rem;     
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
  
.header-menu-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: .5rem 1.5rem;
    text-decoration: none; 
    letter-spacing: .2rem;   
}

.neon {
    color: #3df325;
    text-shadow:
      0 0 .35rem #3df325,
      0 0 .5rem #3df325,
      0 0 1.05rem #3df325,
      0 0 2.1rem #0fa,
      0 0 4.1rem #0fa,
      0 0 4.6rem #0fa,
      0 0 5.1rem #0fa,
      0 0 7.55rem #0fa;      
}

.neon-text { 
    display: inline-block;
    text-align: center;
    padding: .5rem;
    text-decoration: none; 
    letter-spacing: .2rem;   
    color: #3df325;
    text-shadow:
        0 0 .35rem #3df325,
        0 0 .5rem #3df325,
        0 0 1.05rem #3df325,
        0 0 2.1rem #0fa,
        0 0 4.1rem #0fa,
        0 0 4.6rem #0fa,
        0 0 5.1rem #0fa,
        0 0 7.55rem #0fa;  
      position: absolute;
      right: 10rem;
}

.hh-table-scroll {
    position: fixed;
}
  
li a:hover {   
    color: #3df325;
    cursor: url('ufo.png?v=1') 0 0, auto;    
}

a:active {
    text-decoration: none;
    color: white;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex!important;
    color: white;
    margin-left: 2.5rem;
}

.on-page {
    color: #3df325;
}

h1 {    
    text-align: center;
    cursor: url('ufo.png?v=1') 0 0, auto;
}


.inscription-heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -6rem;
}

article {
    min-height: 100vh;
    display: grid;    
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: .25rem;
    background-color: #45a1ff;
    opacity: 70%;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.bottom-center{
    position: fixed;
    bottom: .25rem;
    left: 50%;
    transform: translateX(-50%);
}

.table-box {
    max-width: 1000vh;
}

.table-box td:nth-child(3) {
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.inscription-table {
    border-collapse: separate;
    border: .1rem solid black;
    display: table;
    box-sizing: border-box;
    margin: auto;
    margin-top: 5rem;
    text-indent: initial;
    border-spacing: .1rem;
    color: white;
    text-align: center;
    cursor: url('ufo.png?v=1') 0 0, auto;
}

th {
    border: .1rem solid black;
}

td {
    border: .1rem solid black;
}

.table-header {
    font-size: 2rem;
    padding: .25rem;
}

.table-titles {
    font-size: 1rem;
    font-weight: bold;    
}

.table-footer {
    padding: .5rem;
}

main {
    max-width: 40rem;
    width: 90vw;    
    display: grid;
    grid-template-columns: repeat(auto-fit, 7.5rem);
    grid-auto-rows: 7.5rem;
    justify-content: center;
    align-content: center;
    grid-auto-flow: dense;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
  }  
  
  main a {
    overflow: hidden;
  }
  
  main a:nth-of-type(1) {
    grid-column: span 2;
  }
  main a:nth-of-type(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
  main a:nth-of-type(4) {
    grid-row: span 2;
  }
  
  main a:focus {
    outline: none;
  }

  main img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: scale(1);
  }

  main a:focus img,
  main a:hover img {
    transform: scale(1.1);
    filter: brightness(1);
  }

.custom-cursor {
    cursor: url('ufo.png?v=1') 0 0, auto;
}
